<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.project.member.model.mapper.MemberMapper"> <!-- namespace 에 연결한 Mapper 인터페이스 패키지명 + 인터페이스명 작성
-> 매퍼 인터페이스 메서드 호출 시 
xml 파일에 자성된 태그 중 메서드명과 같은 id를 가진 SQL 이 수행됨.  -->
<!--   <cache-ref namespace=""/>   이거 지워라 -->
  
  
  <!-- parameterType 속성은 필수 속성 아님!
  		왜 ? 마이바티스에서 제공해주는 TypeHandler 를 이용해서 자료형을 판별해준다. 
   -->
  
  <!-- 로그인 -->
  <select id="login" resultType="Member">
SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_NICKNAME, MEMBER_PW, MEMBER_TEL, MEMBER_ADDRESS, PROFILE_IMG, AUTHORITY, 
TO_CHAR(ENROLL_DATE, 'YYYY "년" MM"월" DD"일" HH24 "시" MI "분" SS"초"') ENROLL_DATE
FROM MEMBER
WHERE MEMBER_EMAIL = #{memberEmail}
AND MEMBER_DEL_FL = 'N'
  </select>
  
  
</mapper>
