<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 코드 조각 모음 </title>
</head>
<body>
  
<!-- fragment (조각) 
	html 요소를 다른 html 파일에서 재사용 가능하게 함 -->

	<div th:fragment="temp1">
		<ul>
			<li><a href="#">공지사항</a></li>
			<li><a href="#">자유게시판</a></li>
			<li><a href="#">질문게시판</a></li>
			<li><a href="#">FAQ</a></li>
			<li><a href="#"> 1 : 1 문의</a></li>
		</ul>
	</div>
	
	<h1 th:fragment="temp2" style="background-color: yellow; color:red;;">Thymeleaf Fragment 확인 중</h1>
	
</body>
</html>