<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
</head>
<body>

	
    <h1>ThymeLeaf</h1>
	
	<h3> 1. 템플릿 엔진 </h3>
	<pre>
		템플릿 양식과 특정 데이터 모델에 따른 입력 자료를 합성하여
		결과 문서(응답화면) 를 출력 하는 것
		-> 만들어둔 화면(html)에 데이터를 추가하여 하나의 html로 만들어서 응답
		(JSP 도 템플릿 엔진)
		<a href="https://www.thymeleaf.org/"></a>
		
		웹 및 독립실행형 환경 모두를 위한 최신 서버 측 Java 템플릿 엔진
		-> 웹 실행 == 요청 시 포워드 되는 화면
		-> 독립실행 == html 파일 실행(인터넷 연결x)
		
		HTML 파일에서 th 속성을 이용해 
		컨트롤러로부터 전달받은 데이터를 이용해서 동적 페이지를 만들 수 있음.
		
	</pre>
	
	<ol>
		<li>
			<a href="/example/ex1">타임리프 예제1</a>
		</li>
		<li>
			<form action="/example/ex2" method="post">
				<h4>타임리프 예제2</h4>
				이름 : <input type="text" name="inputName"> <br>
				나이 : <input type="number" name="inputAge"> <br>
				<br>
				색상 : 
				Red <input type="checkbox" name="color" value="Red">
				Green <input type="checkbox" name="color" value="	Green">
				Blue <input type="checkbox" name="color" value="Blue">
				<button> 제출 </button>
			</form>
		</li>
		<li>
			<a href="/example/ex3"> 타임리프 예제3 </a>
		</li>
		<li>
			<a href="/example/ex5"> 타임리프 예제5 </a>
		</li>
			
	</ol>
	
	<hr>
	
	<h3 > fragment/temp.html 중 temp1 조각 추가하기 </h3>
	<!-- 타임리프가 제공하는 접두사, 접미사를 제외한 경로를 작성 -->
	<th:block th:replace="	~{fragments/temp :: temp1}"></th:block>
	<th:block th:replace="	~{fragments/temp :: temp1}"></th:block>
	<th:block th:replace="	~{fragments/footer}"></th:block>
	
	

	
</body>
</html>