<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.todo.model.mapper.TodoMapper">
	<!-- Mapper 인터페이스 경로 작성(필수!!) 패키지명.인터페이스명 -->

<!--  아래 태그는 mapper.xml 파일 만들자마자 삭제 !!!! -->
<!--  <cache-ref namespace=""/> -->  

<!-- <select> 태그 속성
	- id 속성 : 태그를 식별하는 값
	(연결된 Mapper의 메서드명과 동일하게 작성해서 연결)
	
	- resultType : 조회 결과 한 줄(1행)을 저장하여
						반환할 변수/객체 자료형 지정
						
						조회 결과가 여러 행이면
						행 별로 변수/객체 자료형으로 저장 후
						모아서 List 로 반환
 -->

<!-- 
	edu.kh.todo.model.mapper.TodoMapper 인터페이스의
	selectAll() 메서드와 연결
	==> selectAll() 메서드 호출 시 연결된 SQL 실행
 -->


<!-- edu.kh.todo.model.doto.Todo -> Todo 라고 써도 된다. (DBConfig에서 아래코드로 별칭등록해놨기 때문이다)
		sessionFactoryBean.setTypeAliasesPackage("edu.kh.todo");
 -->
<select id="selectAll" resultType="Todo">
	SELECT TODO_NO, 
	TODO_TITLE, 
	TODO_CONTENT, 
	COMPLETE, 
	TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') REG_DATE
	FROM TB_TODO
</select>

<select id="getCompleteCount" resultType="_int">
	SELECT COUNT(*) FROM TB_TODO WHERE COMPLETE = 'Y'
</select>

<!-- 
	parameterType : 전달 받은 값(전달 인자/매개변수)의 타입을 명시
	-> DTO인 경우 필드명,  , Map인 경우key 를 입력해서 하나씩 꺼낼 수 있음.
 -->
 
 <!-- 
 	mapper 에서 java의 data(파라미터) 를 SQL에 삽입하는 방법
 	
 	1) #{변수명 | 필드명} : SQL에 삽입 시 양쪽에 '' 붙여서 삽입
 	
 	2) ${변수명 | 필드명} : SQL에 삽입 시 양쪽에 ''(홑따옴표) 붙이지 않고 삽입. 
 		예를 들어, 컬럼을 동적으로 변경해야 할 때같이 (SQL문 자체가 변해야 하는 경우에 사용)
 		+ 숫자인 컬럼값을 삽입할 때.
 		

 		
 		
 
  -->

<insert id="addTodo" >
	INSERT INTO TB_TODO (TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE, REG_DATE)
	VALUES (SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoContent}, DEFAULT, DEFAULT)
</insert>

<!-- 
<insert id="addTodo" >
	INSERT INTO TB_TODO (TODO_NO, TODO_TITLE, TODO_CONTENT, COMPLETE, REG_DATE)
	VALUES (SEQ_TODO_NO.NEXTVAL, #{todoTitle}, #{todoContent}, DEFAULT, DEFAULT)
</insert>
 -->
 
 
 <!-- 할 일 상세 조회 -->
 <!--  parameterType="_int" 제거시켜본다.  --> <!-- 제거해도 되더라. 근데, 선생님이 그냥 하는게 정석이라고 하심. -->
 <!-- edu.kh.todo.model.dto.Todo(원래이름) == Todo (별칭) -->
 <select id="todoDetail" resultType="Todo"> 
	SELECT TODO_NO, 
	TODO_TITLE, 
	TODO_CONTENT, 
	COMPLETE, 
	TO_CHAR(REG_DATE, 'YYYY-MM-DD HH24:MI:SS') REG_DATE
	FROM TB_TODO
	WHERE TODO_NO = #{todoNo}
 </select>
 
 
 <update id="changeComplete" parameterType="Todo">
 	UPDATE TB_TODO SET
 	COMPLETE = #{complete}
 	WHERE TODO_NO = #{todoNo}
 </update>
 
 
 <!--  할 일 수정 -->
 <!--  파라미터가 DTO인 경우 : #{필드명}, ${필드명} -->
 <!--  파라미터가 Map 인 경우 : #{key}, ${key} -->
 <update id="todoUpdate" parameterType="Todo">
 	UPDATE TB_TODO SET
 	TODO_TITLE = #{todoTitle},
 	TODO_CONTENT = #{todoContent}
 	WHERE TODO_NO = #{todoNo} 	
 </update>
 
 <delete id="todoDelete" parameterType="_int">
 	DELETE FROM TB_TODO
 	WHERE TODO_NO = #{todoNo}
 </delete>
 
 <select id="getTotalCount" resultType="_int">
 	SELECT COUNT(*) FROM TB_TODO
 </select>
 
 <select id="findCompleteByTodoNo" parameterType="_int" resultType="String">
 	SELECT COMPLETE FROM TB_TODO WHERE TODO_NO = #{todoNo} 
 </select>
 



</mapper>