<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf</title>
	<style>
		.price{
			color: red;
		}
		
	</style>
	
</head>
<body>
	<h1>타임리프 예제 1</h1>
	
	<pre>
		Spring EL(스프링 표현 언어)
		- ${key} : 변수, model 등을 이용해서 세팅한 값 출력
		
		th: text 속성 = "속성값"
		- 타임리프를 이용해서 
			속성값을 작성된 태그의 내용(innerText)으로 출력
		
		** th 속성은 출력된 화면(응답화면) 에서 보여지지 않는다!
		-> 해석된 후 사라지기 때문. **
		
	</pre>
	
	
	<h4 th:text="${	test1}">test1 값</h4>
	<h4 th:text="${	test2}">	test2 값</h4>
	
	<b th:text="${test1}"></b>
	
	<h3>단일 값 출력</h3>
	
	<pre>
		th:block 태그
		- Thymeleaf 에서 제공하는 유일한 태그
		
		- Thymeleaf 는 html 태그 내에 th 속성을 작성하여 정의하는게 일반적이지만
			th 속성을 작성할 태그가 존재하지 않을 때 사용
		
		- th:text 보단 조건, 반복문과 같이 사용하는 경우가 많음
		- th:block 태그를 쓰면 태그가 안보임. 
		</pre>
	
	<th:block th:text="${productName}">상품명</th:block> <!-- th:block 을 쓰면 <th:block> 태그가 사라짐. -->
	<span th:text="${productName}">상품명2</span>
	
	<br>
	
	price : 
	<span class="price">
		<th:block th:text="${price}"> 가격 </th:block>	
	</span>
	
	<pre>
		th:each="item : ${List 또는 배열}"
		
			- 향상된 for문
			
			- List 또는 배열 길이 만큼 반복
			
			- 매 반복시 마다 List  또는 배열의 요소를 차례대로 꺼내
				item 변수에 저장  (item 변수명은 자유롭게 작성) 
	</pre>
	
	<ul>
		<li th:text="${fruitList}"> 과일목록</li> <!-- [사과, 포도, 수박] -->
		<li th:text="${fruitList[0]}"> ㅏ과일목록</li> <!--	사과 -->
	</ul>
	
	<h4> th:each 사용 </h4>
	<ul>
		<th:block th:each="fruit : ${fruitList}">
			<li th:text="${fruit}"> 과일명 </li>
		</th:block>
	</ul>
	<span th:text="${	student.	studentNo}"></span> <!-- model 에 넣어준 객체의 필드를 타임리프로 꺼내오려면, 그 객체를 만드는 클래스에서 그 필드에 대한 getter가 있어야 한다.   -->
	<span th:text="${	student.name}"></span>
	<span th:text="${	student.age}"></span>

	<th:block th:each="std:${student}">
		<li th:text="${std.studentNo}"></li>
		<li th:text="${std.	name}"></li>
		<li th:text="${std.	age}"></li>
	</th:block>
	
	<hr>
	
	<pre>
		th:object 속성 + *{필드명}			
	</pre>
	
	<h4>=============th:object 사용==============</h4>
	
	<ul th:object="${student}">
		<li th:text="*{studentNo}"></li>
		<li th:text="*{name}"></li>
		<li th:text="*{age}"></li>		
	</ul>
	<pre>
		즉, th:object 는 객체를 꺼낼 때, 좀 더 간편하게 꺼낼 수 있게 해준다. 
		*{} : th:object 로 지정된 객체의 필드에 접근할 때 사용하는 작성법
		th:object 태그 밖에서 *{} 이거 쓰면 안됨.
	</pre>
	
	<h3> DTO 가 담긴 List 출력하기 </h3>
	<table border="1">
		<thead>
			<tr>
				<th>학번</th>
				<th>이름</th>
				<th>나이</th>
			</tr>
		</thead>
		<tbody>
			<!-- th:each 로 반복을 돌릴 때에 주의할 건,
				th:each 가 쓰여진 태그 전부가 반복된다는 것. 
				즉, 지금은 tr태그 전체가 반복되고 있다는 것.
			 -->
			<tr th:each="std: ${stdList}" th:object="${std}">
				<th th:text="*{studentNo}"></th>
				<th th:text="*{name}"></th>
				<th th:text="*{age}"></th>
			</tr>
		</tbody>
		
	</table>
	
	



	
	
	
</body>
</html>
