<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="#{app.name}">message.properties 값 출력</title>
  
  <!-- templates/common/common.html 조각으로 추가 -->
  <th:block th:replace="~{common/common}"></th:block>

</head>
<body>




  <main>

    <!-- common/header.html 파일을 조각으로 추가 -->
    <th:block th:replace="~{common/header}"></th:block>



    <!-- 메인 페이지 내용  -->
    <section class="content">
    
      <section class="content-1"></section>

      <section class="content-2">
        <!-- 로그인, 회원가입 버튼 -->

          <!-- 로그인 박스 -->
          <form action="/member/login" method="POST" id="loginForm">
            <fieldset class="id-pw-area">
  
              <!-- 아이디/비밀번호 입력 -->
              <section>
                <input type="text" 
                       name="memberEmail"
                       placeholder="이메일">
  
                <input type="password" 
                       name="memberPw" 
                       placeholder="비밀번호">
              </section>
  
              <!-- 로그인 버튼 -->
              <section>
                <button>로그인</button>
              </section>
            </fieldset>
  
            <label>
              <!-- label 태그 : input 태그의 제목을 나타내는 태그  -->
              <input type="checkbox" name="saveId">
              아이디 저장
            </label>
  
            <article class="signup-find-area">

              <a href="/member/signup">회원가입</a>

              <span> | </span>
              <a href="#">ID/PW 찾기</a>
            </article>
  
          </form>

      </section>

    </section>
  </main>

  <th:block th:replace="~{common/footer}"></th:block>
  
  <script src="/js/main.js"></script>

  

</body>
</html>